<h1> Edit a lesson </h1>
<%= form_for(@lesson) do |f| %>
	<div class="field">
		<%= f.label :subject %><br />
		<%= f.text_field :subject %>
	</div>
	<div class="field">
		<%= f.label :image %><br />
		<%= f.text_field :image %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>